<footer class="site-footer pbmit-bg-color-blackish">
    <div class="pbmit-footer-widget-wrapper container">
        <div class="row g-0">
            <div class="pbmit-footer-widget-logo-area col-md-12 col-xl-3">
                <div class="pbmit-footer-logo text-center">
                    <img src="https://thevermafamily.org/media/images/logo/logo.png" alt="Shrikant Verma Trust Logo" style="height:180px !important;">
                </div>
            </div>
            <div class="pbmit-footer-widget-text-area col-md-12 col-xl-9">
                <div class="footer-wrap pbmit-footer-widget-area">
                    <div class="container">
                        <div class="row justify-content-between">
                            <div class="pbmit-footer-widget-col-1">
                                <aside class="widget">
                                    <h2 class="widget-title">Contact</h2>
                                    <div class="pbmit-contact-widget-lines">
                                        <div class="pbmit-contact-widget-line pbmit-base-icon-phone">contact@thevermafamily.org<br> +91 98114 32277</div>
                                    </div>
                                </aside>
                            </div>
                            <div class="pbmit-footer-widget-col-2">
                                <aside class="pbmit-location-social widget widget_text">
                                    <h2 class="widget-title">Our Location</h2>
                                    <div class="textwidget"><p>Shrikant Verma Trust, Bilaspur Madhya Pradesh, India</p>
                                        <h2 class="widget-title">Social Network</h2>
                                        <ul class="pbmit-social-links">
                                            <li class="pbmit-social-li pbmit-social-facebook">
                                                <a title="Facebook" href="javascript:void(0)" target="_blank">
                                                    <span><i class="pbmit-base-icon-facebook-f"></i></span>
                                                </a>
                                            </li>
                                            <li class="pbmit-social-li pbmit-social-twitter">
                                                <a title="Twitter" href="javascript:void(0)" target="_blank">
                                                    <span><i class="pbmit-base-icon-twitter-2"></i></span>
                                                </a>
                                            </li>
                                            <li class="pbmit-social-li pbmit-social-linkedin">
                                                <a title="LinkedIn" href="javascript:void(0)" target="_blank">
                                                    <span><i class="pbmit-base-icon-linkedin-in"></i></span>
                                                </a>
                                            </li>
                                            <li class="pbmit-social-li pbmit-social-instagram">
                                                <a title="Instagram" href="javascript:void(0)" target="_blank">
                                                    <span><i class="pbmit-base-icon-instagram"></i></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </aside>
                            </div>
                            <div class="pbmit-footer-widget-col-3">
                                <aside class="widget">
                                    <h2 class="widget-title">Useful Link</h2>
                                    <div class="menu-useful-link-container">
                                        <ul>
                                            <li><a href="/">Home</a></li>
                                            <li><a href="#">About</a></li>
                                            <li><a href="#">Events</a></li>
                                            <li><a href="#">News</a></li>
                                        </ul>
                                    </div>
                                </aside>
                            </div>
                            <div class="pbmit-footer-widget-col-4">
                                <aside class="widget">
                                    <h2 class="widget-title">Our Services</h2>
                                    <ul>
                                        <li><a href="#">Our Community</a></li>
                                        <li><a href="#">Support Networks</a></li>
                                        <li><a href="#">SKV Trust Family</a></li>
                                    </ul>
                                </aside>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pbmit-footer-text-area">
                    <div class="container">
                        <div class="pbmit-footer-text-inner">
                            <div class="row">
                                <div class="col-md-6">
                                    {% comment %} <div class="pbmit-footer-menu-area">
                                        <div class="menu-footer-menu-container">
                                            <ul class="pbmit-footer-menu">
                                                <li><a href="homepage-2.html#">Terms & Condition</a></li>
                                                <li><a href="homepage-2.html#">Privacy Policy</a></li>
                                            </ul>
                                        </div>
                                    </div> {% endcomment %}
                                </div>
                                <div class="col-md-6">
                                    <div class="pbmit-footer-copyright-text-area"> Copyright © {% now "Y" %} 
                                        <a href="homepage-2.html#">Shrikant Verma Trust</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>