django
django-ckeditor-5
django-admin-interface
Pillow
gunicorn
whitenoise

# PyMuPDF

# django-storages
# django-storages[s3]
# django-allauth
# django-allauth[socialaccount]

django-import-export
django-import-export[all]