<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>The Shrikant Verma Trust | Home</title>
		<meta name="robots" content="noindex, follow">
        <meta name="keywords" content="The Shrikant Verma Trust, SKV, SKV Trust, SKV Foundation, SKV School, SKV College, SKV University, SKV Hospital, SKV Research, SKV Technology, SKV Engineering, SKV Management, SKV Law, SKV Medical, SKV Education, SKV Research, SKV Technology, SKV Engineering, SKV Management, SKV Law, SKV Medical, SKV Education">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon -->
		<link rel="shortcut icon" type="image/x-icon" href="https://thevermafamily.org/media/images/logo/logo.png">
		<!-- CSS
			============================================ -->
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="/media/static/css/bootstrap.min.css">
		<!-- Fontawesome -->
		<link rel="stylesheet" href="/media/static/css/fontawesome.css">
		<!-- Flaticon -->
		<link rel="stylesheet" href="/media/static/css/flaticon.css">
		<!-- Base Icons -->
		<link rel="stylesheet" href="/media/static/css/pbminfotech-base-icons.css">
		<!-- Themify Icons -->
		<link rel="stylesheet" href="/media/static/css/themify-icons.css">
		<!-- Slick -->
		<link rel="stylesheet" href="/media/static/css/swiper.min.css">
		<!-- Magnific -->
		<link rel="stylesheet" href="/media/static/css/magnific-popup.css">
		<!-- AOS -->
		<link rel="stylesheet" href="/media/static/css/aos.css">
		<!-- Shortcode CSS -->
		<link rel="stylesheet" href="/media/static/css/shortcode.css">
		<!-- Base CSS -->
		<link rel="stylesheet" href="/media/static/css/base.css">
		<!-- Style CSS -->
		<link rel="stylesheet" href="/media/static/css/style.css">
		<!-- Responsive CSS -->
		<link rel="stylesheet" href="/media/static/css/responsive.css">
	</head>
	<body>

	<!-- page wrapper -->
	<div class="page-wrapper">

		<!-- Header Main Area -->
		{% include 'base/includes/headers.html' %}
		<!-- Header Main Area End Here -->

		<!-- page content -->
		{% block content %}
		{% endblock %}
		<!-- page content End -->

		<!-- footer -->
        {% include 'base/includes/footer.html' %}
        <!-- footer End -->

	</div>
	<!-- page wrapper End -->

	<!-- Search Box Start Here -->
	<div class="pbmit-search-overlay">
		<div class="pbmit-icon-close">
			<svg class="qodef-svg--close qodef-m" xmlns="http://www.w3.org/2000/svg" width="28.163" height="28.163" viewBox="0 0 26.163 26.163">
				<rect width="36" height="1" transform="translate(0.707) rotate(45)"></rect>
				<rect width="36" height="1" transform="translate(0 25.456) rotate(-45)"></rect>
			</svg>
		</div>
		<div class="pbmit-search-outer"> 
			<form class="pbmit-site-searchform">
				<input type="search" class="form-control field searchform-s" name="s" placeholder="Search …">
				<button type="submit"></button>
			</form>
		</div>
	</div>
	<!-- Search Box End Here -->

	<!-- Scroll To Top -->
	<div class="pbmit-progress-wrap">
		<svg class="pbmit-progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
			<path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"></path>
		</svg>	
	</div>
	<!-- Scroll To Top End -->
	
	<!-- JS
		============================================ -->
	<!-- jQuery JS -->
	{% comment %} <script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script> {% endcomment %}
    <script src="/media/static/js/jquery.min.js"></script>
	<!-- Popper JS -->
	<script src="/media/static/js/popper.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="/media/static/js/bootstrap.min.js"></script>
	<!-- jquery Waypoints JS -->
	<script src="/media/static/js/jquery.waypoints.min.js"></script>
	<!-- jquery Appear JS -->
	<script src="/media/static/js/jquery.appear.js"></script>
	<!-- Numinate JS -->
	<script src="/media/static/js/numinate.min.js"></script>
	<!-- Slick JS -->
	<script src="/media/static/js/swiper.min.js"></script>
	<!-- Magnific JS -->
	<script src="/media/static/js/jquery.magnific-popup.min.js"></script>
	<!-- Circle Progress JS -->
	<script src="/media/static/js/circle-progress.js"></script> 
	<!-- countdown JS -->
	<script src="/media/static/js/jquery.countdown.min.js"></script> 
	<!-- AOS -->
	<script src="/media/static/js/aos.js"></script>
	<!-- GSAP -->
	<script src='/media/static/js/gsap.js'></script>
	<!-- Scroll Trigger -->
	<script src='/media/static/js/ScrollTrigger.js'></script>
	<!-- Split Text -->
	<script src='/media/static/js/SplitText.js'></script>
	<!-- Magnetic -->
	<script src='/media/static/js/magnetic.js'></script>
	<!-- GSAP Animation -->
	<script src='/media/static/js/gsap-animation.js'></script>
	<!-- Scripts JS -->
	<script src="/media/static/js/scripts.js"></script>

	<script>(function(){function c(){var b=a.contentDocument||a.contentWindow.document;if(b){var d=b.createElement('script');d.innerHTML="window.__CF$cv$params={r:'97dfd7801fd68af8',t:'MTc1NzY4NDY5MC4wMDAwMDA='};var a=document.createElement('script');a.nonce='';a.src='/cdn-cgi/challenge-platform/scripts/jsd/main.js';document.getElementsByTagName('head')[0].appendChild(a);";b.getElementsByTagName('head')[0].appendChild(d)}}if(document.body){var a=document.createElement('iframe');a.height=1;a.width=1;a.style.position='absolute';a.style.top=0;a.style.left=0;a.style.border='none';a.style.visibility='hidden';document.body.appendChild(a);if('loading'!==document.readyState)c();else if(window.addEventListener)document.addEventListener('DOMContentLoaded',c);else{var e=document.onreadystatechange||function(){};document.onreadystatechange=function(b){e(b);'loading'!==document.readyState&&(document.onreadystatechange=e,c())}}}})();</script>
    
</body>
</html>